nav {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.text-center {
  margin-top: auto;
  margin-bottom: auto;
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
@media (max-width: 800px) {
  .left-text {
    order: 1;
  }
  .right-photo {
    padding-left: 50px;
    order: 0;
  }
  .card {
    height: 250px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
  }
  .card-img-top {
    height: 200px;
    width: 200px;
  }
}

.container-fluid {
  width: 90%;
}

img {
  border-radius: 10%;
}

.card {
  border: none;
}

.sub-hero {
  border-bottom: 1px solid gray;
}

li {
  list-style: none;
}
a {
  color: black;
}

.first-part {
  border-bottom: 1px solid gray;
  padding-bottom: 50px;
}
